.RecastApp .RecastAppInput {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 1rem;
  color: #9e9fa3;
  background: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16); // MU: modified (was 0.16)

  border-radius: 5px; // MU: added
}

@media only screen and (min-width: 420px) and (min-height: 575px) {
  .RecastApp .RecastAppInput {
    position: relative;
  }
}
