.RecastApp .RecastAppInput {
  position: absolute;
  bottom: 0px;
  width: 100%;
  // height: 60px;

  padding: 1rem;
  color: #6f7076;
  background: white;
  border-top: 1px solid #c79d4c; // MU: added
  //box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16); // MU: modified (was 0.16) and commented

  border-radius: 3px; // MU: added
}

@media only screen and (min-width: 767px){
  .RecastApp .RecastAppInput {
    position: relative;
    bottom: 1px; // MU: modified (was: 0 => prevent added border)
  }
}
