.RecastApp .RecastAppLive {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.95); // MU: added
  border-radius: 3px;  // MU: added
  
  overflow-y: scroll;

  &--message-container {
    flex-grow: 1;
    padding-bottom: 25px;
    overflow-x: hidden; // MU: added
  }
}

@media only screen and (min-width: 420px) and (min-height: 575px) {
  .RecastApp .RecastAppLive {
    // height: 50vh; // MU: modified & removed (was 460px)
  }
}
